body 
{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: aliceblue;
}
.nav ul li 
{
  display: inline-block;
  padding: 1px 20px;

}
.nav a 
{
  color: white;
  font-size: 18px;
  text-decoration: none;
  list-style-type: none;
}
.sidebar
{
  width: 100%;
  height: auto;
  margin: auto;
}
.sidebar li 
{
  display: block;
  text-decoration: none;
  padding:12px 5px;
 
}
.sidebar a 
{
  text-decoration: none;
  list-style-type: none;
  font-size: 18px;
}
